{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


     <link rel="stylesheet" href="static/Css/index.css">

    <title>Hello, world!</title>
    <style>
      
    </style>
</head>

<body>
    <h1 style="background-color: green;">Hello, world!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis molestias est nostrum optio. Earum ab nihil
        minus maiores dicta numquam, recusandae dolores error rem voluptatibus possimus magnam tempora perferendis
        accusantium.</p>

        <img src="{% static "/images/pexels-josh-sorenson-1714205.jpg" %}" alt="">

        <!-- {% static "/images/pexels-josh-sorenson-1714205.jpg" %} -->

</body>

</html>